<div class="row" id="alabama">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 col-xs-12">
        <hr />
        <h2 class="h4">Alabama</h2>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">Size image tags:</h5>
                <code>
                    &lt;img src="https://sroye98.github.io/LocationImages/states/100/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/150/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/300/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/500/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/750/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1000/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1024/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1500/alabama.jpg" alt="Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/2500/alabama.jpg" alt="Alabama" /&gt;
                </code>
            </div>
        </div>
        <h2 class="h5 pt-3">Alabama Cities</h2>
        <h3 class="h6">Ozark</h3>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">Size image tags:</h5>
                <code>
                    &lt;img src="https://sroye98.github.io/LocationImages/states/100/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/150/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/300/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/500/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/750/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1000/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1024/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1500/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/2500/ozark-alabama.jpg" alt="Ozark, Alabama" /&gt;
                </code>
            </div>
        </div>
    </div>
</div>