<div class="row" id="alaska">
    <div class="col-xl-6 col-lg-6 col-md-10 col-sm-12 col-xs-12">
        <hr />
        <h2 class="h4">Alaska</h2>
        <div class="card bg-dark text-white">
            <div class="card-body">
                <h5 class="card-title">Size image tags:</h5>
                <code>
                    &lt;img src="https://sroye98.github.io/LocationImages/states/100/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/150/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/300/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/500/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/750/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1000/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1024/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/1500/alaska.jpg" alt="Alaska" /&gt;<br />
                    &lt;img src="https://sroye98.github.io/LocationImages/states/2500/alaska.jpg" alt="Alaska" /&gt;
                </code>
            </div>
        </div>
        <h2 class="h5 pt-3">Alaska Cities</h2>
        <p>Coming Soon</p>
    </div>
</div>