<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    States
</h6>
<ul class="nav flex-column mb-2">
    <li class="nav-item"><a class="nav-link" href="#alabama">Alabama</a></li>
    <li class="nav-item"><a class="nav-link" href="#alaska">Alaska</a></li>
    <li class="nav-item"><a class="nav-link" href="#arizona">Arizona</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Arkansas</a></li>
    <li class="nav-item"><a class="nav-link" href="#">California</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Colorado</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Connecticut</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Delaware</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Florida</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Georgia</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Hawaii</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Idaho</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Illinois</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Indiana</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Iowa</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Kansas</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Kentucky</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Louisiana</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Maine</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Maryland</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Massachusetts</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Michigan</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Minnesota</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Mississipi</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Missouri</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Montana</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Nebraska</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Nevada</a></li>
    <li class="nav-item"><a class="nav-link" href="#">New Hampshire</a></li>
    <li class="nav-item"><a class="nav-link" href="#">New Jersey</a></li>
    <li class="nav-item"><a class="nav-link" href="#">New Mexico</a></li>
    <li class="nav-item"><a class="nav-link" href="#">New York</a></li>
    <li class="nav-item"><a class="nav-link" href="#">North Carolina</a></li>
    <li class="nav-item"><a class="nav-link" href="#">North Dakota</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Ohio</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Oklahoma</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Oregon</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Pennsylvania</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Rhode Island</a></li>
    <li class="nav-item"><a class="nav-link" href="#">South Carolina</a></li>
    <li class="nav-item"><a class="nav-link" href="#">South Dakota</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Tennesse</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Texas</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Utah</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Vermont</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Virginia</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Washington</a></li>
    <li class="nav-item"><a class="nav-link" href="#">West Virginia</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Wisconsin</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Wyoming</a></li>
</ul>